{% extends 'base.html' %}

{% block head %} 
<title>TO DO</title>
{% endblock %}

{% block body %} 
<div class="content">
    <h1 style="text-align: center;">Tasks</h1>
    <h2>Tasks of {{user}}</h2>
    {% if tasks|length < 1 %}
    <h4 style="text-align: center;">No tasks left</h4>
    {% else %}
    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{task.content}}</td>
            <td>{{task.date_created.date()}}</td>
            <td class="buttons"><form action="/delete/{{task.id}}" style="display:inline;">
                <button type="submit" class="btn btn-delete">Delete</button>
            </form>
            <br>
            <form action="/update/{{task.id}}" method="GET" style="display:inline;">
                <button type="submit" class="btn btn-update">Update</button>
            </form></td>
        </tr>
        {% endfor %}
    </table>  
    {% endif %}
        <form action="/" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Add Task" >
        </form>
        <form action="/logout" id="logout" style="display:inline;">
            <button type="submit" class="btn btn-delete">Logout</button>
        </form>
</div>
{% endblock %}